.main { 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.cardMarvel{   
  display: grid; 
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(4, 18%);
  gap: 25px;  
}

